@import "./mixins";
@import "./ts-clients";
@import "./ts-channels";


a {
	&:focus {
		text-decoration: none;
	}
}

#main>.table>tbody>tr>td {
	border-top: none;
}

#mega-teamspeak {
	margin: 0 15px 20px 8px;
}
